.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/hero-image.png");
    height: 60vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    color: rgb(170, 159, 56);
    position: absolute;
    bottom: 10px;
    left: 30%;
    right: 30%;
}

/*The world of art*/

.hero-image2 {
    background-image: linear-gradient(rgba(256, 256, 256, 0), rgba(256, 256, 256, 10)), url(/img/art.jpg);
    height: 80vh;
    background-size: cover;
    position: relative;
}

